[user]
	email = paul.dubnyakov@gmail.com
	name = pauldub04

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	cm = commit -m

[credential]
	helper = /usr/local/bin/git-credential-manager
	credentialStore = gpg

