[user]
	email = paul.dubnyakov@gmail.com
	name = pauldub04
	signingkey = /home/$USER/.ssh/id_ed25519.pub

[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	cm = commit -m

#[credential]
#	helper = /usr/local/bin/git-credential-manager
#	credentialStore = gpg

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[url "ssh://git@gitlab.com/"]
    insteadOf = https://gitlab.com/

[url "ssh://git@gitlab.manytask.org/"]
	insteadOf = https://gitlab.manytask.org/
[url "ssh://git@gitlab.ozon.dev/"]
	insteadOf = https://gitlab.ozon.dev/
[url "ssh://git@git.hpclab.ru/"]
	insteadOf = https://git.hpclab.ru/

[gpg]
	format = ssh

